:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 150px); */
  grid-template-rows: 1.6fr 0.4fr 0.8fr 1.2fr;
  gap: 20px;
  max-width: 1100px;
  height: 650px;
  background-color: rgb(247, 247, 247);

  grid-template-areas:
    "create hero hero schedule"
    "create manage maintain schedule"
    "write manage maintain schedule"
    "write faster grow grow";
}
.create {
  grid-area: create;
  background-color: var(--Yellow-100);
}
.create img {
  width: 100%;
}

.hero {
  grid-area: hero;
  background-color: var(--Purple-500);
}
.hero img {
  width: 100%;
}

.schedule {
  grid-area: schedule;
  background-color: var(--Purple-100);
}
.schedule img {
  width: 100%;
}

.write {
  grid-area: write;
  background-color: var(--Yellow-500);
}
.write img {
  width: 100%;
}

.manage {
  grid-area: manage;
  background-color: var(--White);
}
.manage img {
  width: 100%;
}

.maintain {
  grid-area: maintain;
  background-color: var(--Yellow-500);
}
.maintain img {
  width: 100%;
}

.faster {
  grid-area: faster;
  background-color: var(--White);
}
.faster img {
  width: 100%;
}

.grow {
  grid-area: grow;
  background-color: var(--Purple-500);
  display: flex;
}
.grow img {
  width: 200px;
}

.card {
  /* background: white; */
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;
  border-color: var(--Black);
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "hero"
      "manage"
      "maintain"
      "schedule"
      "grow"
      "faster"
      "create"
      "write";

      height: auto;
  }
}
